extends layout
block content
  h1  Liste déroulante capteurs 
  fieldset.rotatinglist
  form(method='get', action='sensor')
    select(name='selectSensor', onchange='change()')
      each sens in values
        option(value='#{sens.title}')  #{sens.title}
    input(type="date" name='calendar')
    input(type="time" name='timeDebut')
    input(type="time" name='timeFin')
    input(type='submit', name='Submit', value='Suivant')
    br
    input(type='submit', name='Submit2', value='+')
 
  
      